
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea,
select,
input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#imagePreview {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

#imagePreview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#successMessage {
    margin-top: 20px;
    color: #28a745;
    text-align: center;
}

/* Image removeal */
.image-item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.remove-image {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 18px;
    line-height: 1;
}

/* POS Page Css */
.pos-container {
    max-width: 90%;
    margin: 10% auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pos-header {
    text-align: center;
    margin-bottom: 20px;
}

.pos-body {
    display: flex;
    justify-content: space-between;
}

.product-section{
    width: 70%;
}

.summary-section {
    width: 28%;
}

.product-search {
    display: block;
    margin-bottom: 20px;
}

.product-search input[type="text"] {
    flex: unset;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.product-search button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none !important;
}

.product-search button:hover {
    background-color: #218838;
}

.cart {
    margin-bottom: 20px;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart th, .cart td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.summary {
    margin-bottom: 20px;
}

.summary p {
    font-size: 16px;
    margin: 10px 0;
}

.summary input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-left: 10px;
}

.payment-method select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*
	Inovice
*/

#invoice {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#invoice table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#invoice th, #invoice td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#invoice button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#invoice button:hover {
    background-color: #0056b3;
}

